@import url("./images/font-BMDOHYEON-wallel.css");

.nav-left{
	float: left;
	font-size: 50px;
	line-height: 50px;
}
.nav-right{
	float: right;
	font-family: "BMD";
	line-height: 50px;
	
}
.nav-right h4{
	margin: 0;
	font-size: 30px;
	line-height: 50px;
	vertical-align: middle;
}